html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFCB69; 
  }

html {
    scroll-behavior: smooth;
    font-size:16px;
}

a{
    color:black;
}

nav, .hero-section{
    width: 70%;
    margin: 0 auto;
}

#languageBtn {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    margin-left:auto;
    width:fit-content;
    gap: 10px;
}

/* #fName, #lName {
    font-size: 12.5rem;
    margin: 0;
} */

.lang-EN #fName, .lang-EN #lName{
    font-size:12.5rem;
}

.lang-JP #fName{
    font-size:11.25rem;
}

.lang-JP #lName{
    font-size:2.5rem;
}

#heroText {
    font-size: 2.18rem;
    margin-bottom: 40px;
}

.arrow {
    color:black;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.icon-large, #languageBtn{
    font-size: 1.56rem;
}

.icon-large:hover, #languageBtn:hover{
    cursor: pointer;
    color:#FEFAE0;
}

.main-title {
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    height: 100px;
    line-height: 100px;
}

.main-title:hover{
    background-color: #FEFAE0;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

#about{
    margin-top:55px;
}

#aboutContent p, #skillsContent p, #contactContent p{
    margin:0;
    width: 70%;
    margin: 0 auto;
    font-size: 1.87rem;
}

#worksContent, #resumeContent {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.work, .resume-item {
    text-decoration: none;
    color: black;
    font-size: 1.87rem;
    text-align: center;
    font-weight: bold;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width:150px;
    height:100px;
    align-content: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.resume-item:hover, .work:hover{
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.work p, .resume-item p{
    margin:0;
}

.linked-in{
    font-size: 1.87rem;
    color:black;
    padding:6px;
}

.linked-in:hover{
    background-color:#0A66C2;
    color: #FEFAE0;
    border-radius: 3px;
    
}

.email{
    color:black;
}

#contactContent{
    text-align: center;
}

#contactContent p:nth-of-type(2) {
    margin-top: 11px;
    margin-bottom: 5px;
}

footer p{
    text-align: center;
    font-size: 1.56rem;
    margin-top: 100px;
    padding-bottom: 40px;
}


/* animation */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }

.arrow:hover{
    animation: bounce 1s;
}

/* toggling items styling */
#aboutContent, #worksContent, #skillsContent, #resumeContent, #contactContent{
    max-height: 0;
    overflow: hidden;
    padding: 0;                  
    transition: max-height 0.5s ease, padding 0.5s ease;
}

#aboutContent.show,  #worksContent.show, #skillsContent.show, #resumeContent.show, #contactContent.show{
    padding: 50px 0;
}

#about.active, #works.active, #skills.active, #resume.active, #contact.active{
  background-color: #FEFAE0;
}

#aboutContent.show, #worksContent.show, #resumeContent.show,#skillsContent.show, #contactContent.show{
    max-height: max-content;
}

/* Small Phones */
@media (max-width: 360px){
    
    .lang-EN #fName, .lang-EN #lName{
        font-size:4.37rem;
    }
    .lang-EN #heroText {
        font-size: 1.75rem;
    }
    .lang-JP #fName {
        font-size: 4.37rem;
    }
    .lang-JP #heroText {
        font-size: 1.56rem;
    }
    .icon-large, #languageBtn, footer p {
        font-size: 1.25rem;
    }
    .main-title{
        font-size: 1.87rem;
        height:60px;
        line-height:60px;
    }
    nav, .hero-section {
        width: 85%;
    }
    #aboutContent.show, #worksContent.show, #skillsContent.show, #resumeContent.show, #contactContent.show {
        padding: 0 0 30px 0;
    }
    #aboutContent p, #skillsContent p, #contactContent p {
        width: 85%;
        font-size: 1.43rem;
    }
    #contactContent p:nth-of-type(2) {
        margin-top: 5px;
        margin-bottom: 0px;
    }
    #worksContent, #resumeContent {
        gap: 20px;
    }
    .work, .resume-item {
        font-size: 1.12rem;
        padding: 10px;
        width: 90px;
        height: 60px;
    }
    .linked-in {
        font-size: 1.43rem;
    }
    footer p {
        margin-top: 50px;
        font-size: medium;
    }

}


/* Phones */
@media  (min-width: 361px) and (max-width: 480px) {
    .lang-EN #fName, .lang-EN #lName{
        font-size:4.37rem;
    }
    .lang-EN #heroText {
        font-size: 1.75rem;
    }
    .lang-JP #fName {
        font-size: 4.37rem;
    }
    .lang-JP #heroText {
        font-size: 1.56rem;
    }
    .icon-large, #languageBtn, footer p {
        font-size: 1.25rem;
    }
    .main-title{
        font-size: 1.87rem;
        height:60px;
        line-height:60px;
    }
    nav, .hero-section {
        width: 85%;
    }
    #aboutContent.show, #worksContent.show, #skillsContent.show, #resumeContent.show, #contactContent.show {
        padding: 0 0 30px 0;
    }
    #aboutContent p, #skillsContent p, #contactContent p {
        width: 85%;
        font-size: 1.43rem;
    }
    #contactContent p:nth-of-type(2) {
        margin-top: 5px;
        margin-bottom: 0px;
    }
    #worksContent, #resumeContent {
        gap: 20px;
    }
    .work, .resume-item {
        font-size: 1.12rem;
        padding: 10px;
        width: 90px;
        height: 60px;
    }
    .linked-in {
        font-size: 1.43rem;
    }
    footer p {
        margin-top: 50px;
        font-size: medium;
    }
}

/* Large Phones */
@media (min-width: 481px) and (max-width: 767px) {
    .lang-EN #fName, .lang-EN #lName{
        font-size:5rem;
    }
    .lang-EN #heroText {
        font-size: 2rem;
    }
    .lang-JP #fName {
        font-size: 4.68rem;
    }
    .lang-JP #heroText {
        font-size: 1.87rem;
    }
    .icon-large, #languageBtn, footer p {
        font-size: 1.37rem;
    }
    .main-title{
        font-size: 2.06rem;
        height:75px;
        line-height:75px;
    }
    nav, .hero-section {
        width: 82%;
    }
    
    #aboutContent.show, #worksContent.show, #skillsContent.show, #resumeContent.show, #contactContent.show {
        padding: 0 0 38px 0;
    }
    #aboutContent p, #skillsContent p, #contactContent p {
        width: 82%;
        font-size: 1.56rem;
    }
    #contactContent p:nth-of-type(2) {
        margin-top: 7px;
        margin-bottom: 0px;
    }
    #worksContent, #resumeContent {
        gap: 25px;
    }
    .work, .resume-item {
        font-size: 1.25rem;
        padding: 15px;
        width: 100px;
        height: 70px;
    }
    .linked-in {
        font-size: 1.56rem;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
      .lang-EN #fName, .lang-EN #lName{
        font-size:5.31rem;
    }
    .lang-EN #heroText {
        font-size: 2.37rem;
    }
    .lang-JP #fName {
        font-size: 5rem;
    }
    .lang-JP #heroText {
        font-size: 2.18rem;
    }
    .icon-large, #languageBtn, footer p {
        font-size: 1.5rem;
    }
    .main-title{
        font-size: 2.18rem;
        height:80px;
        line-height:80px;
    }
    nav, .hero-section {
        width: 80%;
    }
    
    #aboutContent.show, #worksContent.show, #skillsContent.show, #resumeContent.show, #contactContent.show {
        padding: 0 0 40px 0;
    }
    #aboutContent p, #skillsContent p, #contactContent p {
        width: 80%;
        font-size: 1.75rem;
    }
    #contactContent p:nth-of-type(2) {
        margin-top: 10px;
        margin-bottom: 0px;
    }
    #worksContent, #resumeContent {
        gap: 30px;
    }
    .work, .resume-item {
        font-size: 1.43rem;
        padding: 18px;
        width: 120px;
        height: 80px;
    }
    .linked-in {
        font-size: 1.75rem;
    }
}