html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFCB69; 
  }

html {
scroll-behavior: smooth;
}

a{
    color:black;
}

.navigation, .hero-section{
    width: 70%;
    margin: 0 auto;
}

#languageBtn {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    margin-left:auto;
    width:fit-content;
    gap: 10px;
}

#fName, #lName {
    font-size: 200px;
    margin: 0;
}

.lang-EN #fName, .lang-EN #lName{
    font-size:200px;
}

.lang-JP #fName{
    font-size:180px;
}

.lang-JP #lName{
    font-size:40px;
}

#heroText {
    font-size: 35px;
    margin-bottom: 40px;
}

.arrow {
    color:black;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.icon-large, #languageBtn{
    font-size: 25px;
}

.icon-large:hover, #languageBtn:hover{
    cursor: pointer;
    color:#FEFAE0;
}

.main-title {
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    margin: 0;
    height: 100px;
    line-height: 100px;
}

.main-title:hover{
    background-color: #FEFAE0;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

#about{
    margin-top:55px;
}

#aboutContent p, #skillsContent p, #contactContent p{
    margin:0;
    width: 70%;
    margin: 0 auto;
    font-size: 30px;
}

#worksContent, #resumeContent {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.work, .resume-item {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width:150px;
    height:100px;
    align-content: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.resume-item:hover, .work:hover{
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.work p, .resume-item p{
    margin:0;
}

.linked-in{
    font-size: 30px;
    color:black;
    padding:6px;
}

.linked-in:hover{
    background-color:#0A66C2;
    color: #FEFAE0;
    border-radius: 3px;
    
}

.email{
    color:black;
}

#contactContent{
    text-align: center;
}

#contactContent p:nth-of-type(2) {
    margin-top: 11px;
    margin-bottom: 5px;
}

.footer p{
    text-align: center;
    font-size: 25px;
    margin-top: 100px;
    padding-bottom: 40px;
}


/* animation */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }

.arrow:hover{
    animation: bounce 1s;
}

/* toggling items styling */
#aboutContent, #worksContent, #skillsContent, #resumeContent, #contactContent{
    max-height: 0;
    overflow: hidden;
    padding: 0;                  
    transition: max-height 0.5s ease, padding 0.5s ease;
}

#aboutContent.show,  #worksContent.show, #skillsContent.show, #resumeContent.show, #contactContent.show{
    padding: 50px 0;
}

#about.active, #works.active, #skills.active, #resume.active, #contact.active{
  background-color: #FEFAE0;
}

#aboutContent.show{
    max-height: 412.8px; 
}

#worksContent.show, #resumeContent.show{
    max-height: 120px; 
}

#skillsContent.show{
    max-height: 240.8px; 
}

#contactContent.show{
    max-height: 126.8px; 
}

/* internship-work.html styling */
#inContent{
    background-color: #FEFAE0;
    width: 80%;
    margin: 0 auto;
}

.cancelBtnContainer {
    display: flex;
    justify-content: flex-end;
}

.cancelBtnContainer i{
    font-size:30px;
    padding:15px;
}

#inTitle {
    text-align: center;
    font-size: 100px;
}

#inDescription{
    font-size:35px;
    margin: 35px 70px;
}

.lang-EN #inTitle{
    font-size: 100px;
}

.lang-EN #inDescription{
    font-size:35px;
}

.lang-JP #inTitle{
    font-size: 85px;
}

.lang-JP #inDescription{
    font-size:27px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    margin:0 70px;
    padding-bottom: 60px;
}

.gallery img{
    width:100%;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    height: 200px;   
    object-fit: contain;
    background-color: white;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #FEFAE0;
    padding: 20px;
    max-width: 600px;
    border-radius: 10px;
    text-align: center;
}

.modal-content img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-height: 80vh;        
    object-fit: contain; 
}

.close {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

/* Phones */
@media (max-width: 480px) {
    .lang-EN #fName, .lang-EN #lName{
        font-size:70px;
    }
    .lang-EN #heroText {
        font-size: 28px;
    }
    .lang-JP #fName {
        font-size: 70px;
    }
    .lang-JP #heroText {
        font-size: 25px;
    }
    .icon-large, #languageBtn, .footer p {
        font-size: 20px;
    }
    .main-title{
        font-size: 30px;
        height:60px;
        line-height:60px;
    }
    .navigation, .hero-section {
        width: 85%;
    }
    #aboutContent.show {
        max-height: 1000px;
    }
    #aboutContent.show, #worksContent.show, #skillsContent.show, #resumeContent.show, #contactContent.show {
        padding: 0 0 30px 0;
    }
    #aboutContent p, #skillsContent p, #contactContent p {
        width: 85%;
        font-size: 23px;
    }
    #contactContent p:nth-of-type(2) {
        margin-top: 5px;
        margin-bottom: 0px;
    }
    #worksContent, #resumeContent {
        gap: 20px;
    }
    .work, .resume-item {
        font-size: 18px;
        padding: 10px;
        width: 90px;
        height: 60px;
    }
    .linked-in {
        font-size: 23px;
    }

    /* internship-work.html */
    .lang-EN #inTitle{
        font-size: 70px;
    }
    .lang-EN #inDescription{
        font-size:25px;
    }
    .lang-JP #inTitle { 
        font-size:40px; 
    }    
    .lang-JP #inDescription { 
        font-size: 20px; 
    }
}

/* Large Phones */
@media (min-width: 481px) and (max-width: 767px) {
    .lang-EN #fName, .lang-EN #lName{
        font-size:80px;
    }
    .lang-EN #heroText {
        font-size: 32px;
    }
    .lang-JP #fName {
        font-size: 75px;
    }
    .lang-JP #heroText {
        font-size: 30px;
    }
    .icon-large, #languageBtn, .footer p {
        font-size: 22px;
    }
    .main-title{
        font-size: 33px;
        height:75px;
        line-height:75px;
    }
    .navigation, .hero-section {
        width: 82%;
    }
    #aboutContent.show {
        max-height: 1000px;
    }
    #skillsContent.show {
        max-height: 500px;
    }
    #aboutContent.show, #worksContent.show, #skillsContent.show, #resumeContent.show, #contactContent.show {
        padding: 0 0 38px 0;
    }
    #aboutContent p, #skillsContent p, #contactContent p {
        width: 82%;
        font-size: 25px;
    }
    #contactContent p:nth-of-type(2) {
        margin-top: 7px;
        margin-bottom: 0px;
    }
    #worksContent, #resumeContent {
        gap: 25px;
    }
    .work, .resume-item {
        font-size: 20px;
        padding: 15px;
        width: 100px;
        height: 70px;
    }
    .linked-in {
        font-size: 25px;
    }

    /* internship-work.html */
    .lang-EN #inTitle{
        font-size: 75px;
    }
    .lang-EN #inDescription{
        font-size:28px;
    }
    .lang-JP #inTitle { 
        font-size:60px; 
    }    
    .lang-JP #inDescription { 
        font-size: 23px; 
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
      .lang-EN #fName, .lang-EN #lName{
        font-size:85px;
    }
    .lang-EN #heroText {
        font-size: 38px;
    }
    .lang-JP #fName {
        font-size: 80px;
    }
    .lang-JP #heroText {
        font-size: 35px;
    }
    .icon-large, #languageBtn, .footer p {
        font-size: 24px;
    }
    .main-title{
        font-size: 35px;
        height:80px;
        line-height:80px;
    }
    .navigation, .hero-section {
        width: 80%;
    }
    #aboutContent.show {
        max-height: 1000px;
    }
    #skillsContent.show {
        max-height: 500px;
    }
    #aboutContent.show, #worksContent.show, #skillsContent.show, #resumeContent.show, #contactContent.show {
        padding: 0 0 40px 0;
    }
    #aboutContent p, #skillsContent p, #contactContent p {
        width: 80%;
        font-size: 28px;
    }
    #contactContent p:nth-of-type(2) {
        margin-top: 10px;
        margin-bottom: 0px;
    }
    #worksContent, #resumeContent {
        gap: 30px;
    }
    .work, .resume-item {
        font-size: 23px;
        padding: 18px;
        width: 120px;
        height: 80px;
    }
    .linked-in {
        font-size: 28px;
    }
    
    /* internship-work.html */
    .lang-EN #inTitle{
        font-size: 85px;
    }
    .lang-EN #inDescription{
        font-size:30px;
    }
    .lang-JP #inTitle { 
        font-size:65px; 
    }    
    .lang-JP #inDescription { 
        font-size: 26px; 
    }
}